<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="addressMapper">
	
	<resultMap id="addressResultSet" type="Address"><!-- 오른쪽은 vo에서  -->
		<id column="ADDRESS_NO" property="addressNo"/>
		<result column="ADDRESS_NAME" property="addressName"/>
		<result column="ADDESS_PHONE" property="addressPhone"/>
		<result column="ADDRESS_EMAIL" property="addressEmail"/>
		<result column="ADDRESS_COM_NAME" property="addressComName"/>
		<result column="ADDRESS_JOB" property="addressJob"/>
		<result column="ADDRESS_TEL" property="addressTel"/>
		<result column="ADDRESS_DEPT" property="addressDept"/>
		<result column="ADDRESS_ADDRESS" property="addressAddress"/>
		<result column="ADDRESS_MEMO" property="addressMemo"/>
		<result column="STATUS" property="status"/>
	</resultMap>
	
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM ADDRESS
		WHERE STATUS='Y'
	
	</select>
	
	
	<select id="selectList" resultMap="addressResultSet">
		SELECT *
		FROM ADDRESS
		WHERE STATUS = 'Y'
		ORDER BY ADDRESS_NO DESC
	
	</select>
	
	
	<!--sdsd -->
	<select id="selectAddress" parameterType="_int" resultMap="addressResultSet">
		SELECT *
		FROM ADDRESS
		WHERE ADDRESS_NO=#{addressNo}
		and status='Y'
	</select>
	
	<update id="deleteAddress" parameterType="_int">
	
	UPDATE ADDRESS
	SET STATUS='N'
	WHERE ADDRESS_NO=#{addressNo}
	
	
	</update>
	
	<insert id="insertAddress" parameterType="Address">
	
		INSERT INTO ADDRESS
		VALUES(SEQ_ADDRESS_NO.NEXTVAL, #{addressName}, #{addressPhone}, #{addressEmail}, #{addressComName}, #{addressJob}, #{addressTel}, #{addressDept},#{addressAddress},
		#{addressMemo},default)
	
	
	</insert>
	
	
	<update id="updateAddress" parameterType="Address">
		UPDATE BOARD
		SET ADDRESS_NAME=#{addressName}, ADDESS_PHONE=#{addressPhone}, ADDRESS_EMAIL=#{addressEmail} , ADDRESS_COM_NAME=#{addressComName} , ADDRESS_JOB=#{addressJob} , ADDRESS_TEL=#{addressTel} ,
		 ADDRESS_DEPT=#{addressDept} , ADDRESS_ADDRESS=#{addressAddress}, ADDRESS_MEMO=#{addressMemo}
		
		WHERE ADDRESS_NO=#{addressNo}
	
	</update>
	
</mapper>