<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="meetingMapper">

	<resultMap type="MRoom" id="roomResultSet">
		<id property="roomNo" column="ROOM_NO" />
		<result property="roomName" column="ROOM_NAME" />
		<result property="limitCount" column="LIMIT_NUM" />
		<result property="location" column="LOCATION" />
		<result property="closureDate" column="CLOSURE_DATE" />
		<result property="status" column="STATUS" />
	</resultMap>
	
	<select id="selectAllRoomList" resultMap="roomResultSet">
		SELECT * 
		FROM ROOM
	</select>
	
	<insert id="insertRoom" parameterType="MRoom">
		INSERT INTO ROOM VALUES (
		SEQ_ROOM.NEXTVAL,
		#{roomName},
		#{limitCount},
		DEFAULT,
		#{location},
		NULL
		)
	</insert>
	
	<update id="updateRoom" parameterType="MRoom">
		UPDATE ROOM
		SET ROOM_NAME =#{roomName},
			LIMIT_NUM =#{limitCount},
			LOCATION =#{location},
			STATUS =#{status}
		WHERE ROOM_NO = #{roomNo}
	</update>
	
	<update id="deleteRoom" parameterType="_int">
		UPDATE ROOM
		SET STATUS ='N',
			CLOSURE_DATE = SYSDATE
		WHERE ROOM_NO = #{roomNo}
	</update>
	
	<select id="selectRoomList" resultMap="roomResultSet">
		SELECT ROOM_NO, ROOM_NAME 
		FROM ROOM
		WHERE STATUS = 'Y'
	</select>
</mapper>