<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="workMapper">
	
	<resultMap id="workResultSet" type="Work"><!-- 오른쪽은 vo에서  -->
		<id column="WORK_NO" property="workNo"/>
		<result column="WORK_START" property="workStart"/>
		<result column="WORK_END" property="workEnd"/>
		<result column="WORK_STACK" property="workStack"/>
		<result column="WORK_EXCEED" property="workExceed"/>
		<result column="WORK_REMAIN" property="workRemain"/>
		<result column="WORK_DATE" property="workDate"/>
		<result column="STATUS" property="status"/>
		<result column="EMP_NO" property="empNo"/>
		<result column="EMP_SUM" property="empSum"/>
		<result column="EMP_DAY_RESET" property="empDayReset"/>
	</resultMap>
	
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM WORK
		WHERE STATUS='Y'
	
	</select>
	<select id="selectList" resultMap="workResultSet">
		SELECT *
		FROM WORK
		WHERE STATUS = 'Y'
		ORDER BY WORK_NO DESC
	
	</select>
	
	<select id="selectWork" parameterType="Work">
	
		SELECT WORK_STACK, WORK_EXCEED, WORK_REMAIN
 		FROM (SELECT *FROM WORK WHERE EMP_NO='951220103' ORDER BY WORK_NO ASC)
 		WHERE ROWNUM=1;
		<!--
		INSERT INTO ADDRESS
		VALUES(SEQ_WORK_NO.NEXTVAL, #{workStart}, null, #{addressEmail}, #{addressComName}, #{addressJob}, SYSDATE,
		default,#{empNo})
		-->
	
	</select>
	
	
	
	<insert id="startWork" parameterType="Work">
		

		INSERT INTO WORK
		VALUES(SEQ_WORK_NO.NEXTVAL,
		SYSDATE,
		null,
		#{workstart.addressEmail},
		#{workstart.addressComName},
		#{workstart.addressJob},
		SYSDATE,
		default,
		#{empNo},
		NULL,
		default
		)

	
	</insert>
	
	
	<update id="endWork" parameterType="Work">
		

		UPDATE WORK
    	SET WORK_END =SYSDATE
    	WHERE EMP_NO='#{empNo}' AND WORK_DATE = SYSDATE;
    	
    	UPDATE WORK
    	SET   WORK_SUM= ROUND((WORK_END-WORK_START)*24*60)
    	WHERE EMP_NO='#{empNo}' AND WORK_DATE = SYSDATE;
		
		
		UPDATE WORK 
   		SET WORK_STACK = WORK_STACK+WORK_SUM,
   		
   		<choose>
        <when test=" WORK_REMAIN != 0">
        	<choose>
            <when test=" 0 > WORK_REMAIN -WORK_SUM">
                WORK_EXCEED = 절대값(WORK_REMAIN-WORK_SUM),
                WORK_REMAIN = 0,
            </when>
            <otherwise>
                WORK_REMAIN = WORK_REMAIN-WORK_SUM,
            </otherwise>
            </choose>
        </when>
        <otherwise>
        	WORK_EXCEED = WORK_EXCEED + WORK_SUM,
        </otherwise>
        </choose>
    	WHERE EMP_NO='#{empNo}'' AND WORK_DATE = SYSDATE;

	</update>




	<!-- 
	<when test="WORK_REMAIN-WORK_SUM < 0">
	<choose>

	<when test = "조건">//조건1
		위에 조건이 맞을시 실행할 구문
	</when>


	<otherwise>
		조건1이 틀릴경우 실행할 구문
	</otherwise>

	</choose>
	 -->
	
	
</mapper>